body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #1a0457, #6e3890, #577bff);
  padding: 10px 20px;
  height: 12vh;
}

.social-media a {
  margin: 0 10px;
}

.logo img {
  position: relative;
  left: -2.5em;
  max-height: 85px;
}

.community-button button {
  font-family: "Poppins", sans-serif;
  background-color: #9167f1;
  font-size: 0.8em;
  border: none;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-bar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-top: 1px solid #ccc;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 120px;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #ffa500; /* Cambia el color al pasar el mouse */
}

main {
  padding: 0px;
}
.main-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 4fr 3fr 12em;
  gap: 20px;
  width: 65vw;
  height: 65vh;
}

.category {
  display: inline-flex;
  background-color: #ffa500;
  padding: 0px;
}
.category2 {
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 5px;
  position: relative;
  bottom: 3px;
  left: 3px;
  margin: 0;
  border: solid white 1px;
  font-size: 0.7em;
  font-weight: 700;
}

.article {
  position: relative;
  overflow: hidden;
}
.article.small img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.article.large {
  grid-column: 2;
  grid-row: 1 / span 2;
  border-radius: 10px;
}
.article.large img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.carrusel {
  grid-column: 1 / span 3;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.article.carrusel {
  height: 100%;
  width: 30%;
  border-radius: 10px;
}
.article.carrusel img {
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 10px;
  left: 20px;
  max-width: 85%;
  color: white;
}
.overlay h3 {
  font-size: 1em;
  height: 3em;
}

.latest-news {
  background: #8c73c3;
  margin-top: 15%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  grid-column: 3;
  grid-row: 1 / span 2;
}
.title {
  position: relative;
  top: -2.5em;
  margin-top: 0.2em;
  margin-left: 1em;
  text-align: end;
  border: solid 3px #6e3890;
}

.title h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}
.title span {
  font-size: 1em;
  font-weight: 600;
}

.latest-news ul {
  list-style: none;
  padding: 0;
}

.latest-news li {
  margin-bottom: 10px;
}
.titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-height: 80%;
}
.titulos a {
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 0.6 em;
  font-weight: 600;
}
.noticia {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  height: 8em;
}
.noticia img {
  height: 70px;
  width: 70px;
  object-fit: fill;
}

.playlist {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background: #577bff;
  gap: 5em;
  color: white;
  text-align: center;
  padding: 40px 17.4vw;

  height: 40vh;
  width: 64vw;
}

.playlist h2 {
  margin-top: 0;
}
.spotify-embed iframe {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titulos_playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.titulos_playlist h2 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 3.5em;
  margin: 0;
}
.titulos_playlist span {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.titulos_playlist p {
  color: black;
}

#proximos_eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #8c73c3;
  border-radius: 20px;
  border-top-left-radius: 0;
  padding: 0% 2% 0% 2%;
  margin-top: 2%;
}
.titulo_eventos {
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -1.9em;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  border: solid 3px #6e3890;
  padding: 0.3em 0.5em;
}
.titulo_eventos span {
  font-weight: 700;
  font-style: normal;
}
#proximos_eventos button {
  margin: 20px;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  padding: 5px 20px;
  border: solid 3px white;
  border-radius: 5px;
  color: white;
  background: none;
}
#proximos_eventos h3 {
  font-family: "Poppins", sans-serif;
}
.eventos {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  height: auto;
  width: 60vw;
}
.eventos img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.grupo1 {
  grid-column: 1;
  position: relative;
  overflow: hidden;
}
.grupo2 {
  grid-column: 2;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grupo3 {
  grid-column: 3;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info1,
.info3,
.info5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 20px;
  margin: 0;
  height: 40%;
}
.info1 h3 {
  font-size: 3em;
}
.info1 h4 {
  font-size: 2em;
}
.info1 h5 {
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
}

.info2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: absolute;
  bottom: 50%;
  left: 20px;
  margin: 0;
  height: 40%;
}

.info2 h3 {
  font-size: 2em;
}
.info2 h4 {
  font-size: 1em;
}
.info2 h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
.info3 h3 {
  font-size: 2em;
}
.info3 h4 {
  font-size: 1em;
}
.info3 h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

.info4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: absolute;
  bottom: 40%;
  left: 20px;
  margin: 0;
  height: 40%;
}
.info4 h3 {
  font-size: 2em;
}
.info4 h4 {
  font-size: 1em;
}
.info4 h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
.info5 h3 {
  font-size: 2em;
}
.info5 h4 {
  font-size: 1em;
}
.info5 h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
.fecha,
.lugar,
.banda {
  margin: 0;
}

#indie_boom {
  padding-left: 17.4vw;
  padding-right: 17.4vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
  width: 64vw;
  background-color: #1a0457;
  color: white;
  text-align: left;
  margin-top: 40px;
  height: 60vh;
}

#indie_boom h2 {
  margin: 20px 0;
}

#indie_boom h1 {
  margin: 20px 0;
  font-size: 60px;
  font-style: italic;
  line-height: 1;
}

#indie_boom .carousel {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

#indie_boom .item {
  position: relative;
  min-width: 200px;
  text-align: left;
}

#indie_boom .item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#indie_boom .item h2,
#indie_boom .item h3 {
  position: absolute;
  width: 100%;
  color: white;
  margin-left: 10px;
}

#indie_boom .item h2 {
  bottom: 40px;
}

#indie_boom .item h3 {
  bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.destacar {
  color: #ffa500;
  font-family: "MuseoModerno", sans-serif;
}

.cine_y_cultura {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 4fr 3fr 12em;
  gap: 20px;
  width: 64vw;
  height: 70vh;
}
.cine_y_cultura .article.large {
  grid-column: 3;
}
.cine_y_cultura .latest-news {
  background: #8c73c3;
  margin-top: 10%;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1 / span 2;
}
.cine_y_cultura .latest-news .title {
  position: relative;
  top: -2.5em;
  margin-top: 0.2em;
  margin-right: 1em;
  margin-left: 0;
  text-align: start;
  border: solid 3px #6e3890;
}
footer {
  background: #040404;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.logo-footer{
  padding: 30px;
  position: relative;
  max-height: 85px;
}

.social-media-footer a {
  margin: 0 15px;
  
}

.futer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px ;
  padding: 30px;
  
}

.futer h3{
  position: relative;
  margin: 0%;
  padding: 0 10px;

}

.futer h3:not(:last-child)::after {
  font-weight: 200 ;
  content: '|';
  position: absolute;
  right: -25px; 
  color: white; 
  transform: translateX(50%);
}

#derechos{
  font-family: "Poppins" ,sans-serif;
  font-weight: 400;
  margin-top: 20px;
  
}
